<%- include('./partials/header.ejs')%>
    <div class = "content">
        <div class="about-content">
            <div class="contact-h2">
                <h2>Contact us</h2> 
            </div>
            <div class="contact-par">
                <table>
                    <tr>
                        <td><p>Our email: </p></td>
                        <td><b>OpusKore@mail.com</b></td>
                    </tr>
                    <tr>
                        <td><p>Our phone number: </p></td>
                        <td><b>+1 (123) 456-7890</b></td>
                    </tr>
                </table>
            </div>
            <div class="contact-img"><img src="/public/images_folder/contact.jpg" alt="contact-img"></div>
        </div>  
    </div>
<%- include('./partials/footer.ejs')%>