<%- include('../partials/header.ejs')%>
    <div class = "content">
        <h2>Create an account</h2>
        <div class="content-items">
            <div class="content-form">
                <form class="form-new">
                    <table>
                        <tr>
                            <td class="align-top"><label for="firstName">First Name: </label></td>
                            <td><input type="text" id="firstName" name="firstName" class = "fixed-width" required></td>
                        </tr>
                        <tr>
                            <td class="align-top"><label for="lastName">Last Name: </label></td>
                            <td><input type="text" id="lastName" name="lastName" class = "fixed-width" required></td>
                        </tr>
                        <tr>
                            <td class="align-top"><label for="userName">Display Name: </label></td>
                            <td><input type="text" id="userName" name="userName" class = "fixed-width" required></td>
                        </tr>
                        <tr>
                            <td class="align-top"><label for="email">Email Address: </label></td>
                            <td><input type="email" id="email" name="email" class = "fixed-width" required></td>
                        </tr>
                        <tr>
                            <td class="align-top"><label for="password">Password: </label></td>
                            <td><input type="password" id="password" name="password" class = "fixed-width" minlength="8" required></td>
                        </tr>
                        <tr class="tr-buttons">
                            <td><button id="btn" class="btnLink" type="button">Cancel</button></td>
                            <td><button type="submit" formmethod="POST" formaction="/users">Sign up</button></td>
                        </tr>
                    </table>        
                </form> 
                <script>
                    document.getElementById("btn").onclick = function () {
                        location.href = "/";
                    };
                </script>
                <div class="content-new">
                    <p>Already have an account? <a class="signup-link" href="login">Login</a></p>
                </div>       
            </div>
            <div class="content-new-img">
                <img src="../public/images_folder/new_user.jpg" alt="create-img" /></div>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>