<footer id="footer" class="footer">
    <div class="footer-component">
        <div class="help">
            <div class="contacts"><a class="contact-link" href="/contact">Contact Us</a></div>
            <div class="about-us"><a class="about-us-link" href="/about">About Us</a></div>
            <div class="privacy-pol"><a class="privacy-pol-link" href="#">Privacy Policy</a></div>
        </div>
        <div class="copyright"><p>Copyright © 2023 Opus Kore All rights reserved</p></div>
    </div>
</footer>
</body>
</html>